/* Estilo general */
body {
    font-family: 'Creepster', cursive;
    text-align: center;
    background-color: #f4f4f4; /* Fondo suave */
    margin: 0;
    padding: 0;
}

/* Título principal */
h1 {
    color: #4CAF50; /* Verde oscuro */
    font-size: 3rem;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px #c1c1c1, 0 0 25px #4CAF50, 0 0 5px #4CAF50;
}

/* Contenedor de las tarjetas */
.tarjetas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

/* Estilo de cada tarjeta */
.tarjeta {
    background-color: #f1c40f; /* Dorado */
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 180px; /* Aumentar el tamaño para ajustar las fotos */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarjeta:hover {
    transform: translateY(-10px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

/* Estilo de las imágenes dentro de las tarjetas */
.tarjeta img {
    width: 100%;
    height: 200px; /* Fijar altura para mantener el aspecto */
    object-fit: cover; /* Asegura que las imágenes se mantengan proporcionales */
    border-radius: 10px;
}

/* Título dentro de la tarjeta */
.tarjeta h2 {
    color: #2c3e50;
    font-size: 1.4rem;
    margin: 15px 0 10px;
    background-color: #16a085; /* Verde oscuro */
    padding: 10px 0;
    text-transform: uppercase;
}

/* Modal de información */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.modal-contenido {
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    max-width: 800px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Imagen en el modal */
.modal-contenido img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Título dentro del modal */
.modal-contenido h1 {
    color: #16a085; /* Verde oscuro */
    font-size: 2rem;
    margin-bottom: 15px;
    text-transform: uppercase;
}

/* Descripción en el modal */
.modal-contenido p {
    font-size: 1.2rem;
    color: #2c3e50;
    margin-bottom: 20px;
}

/* Botón de más información en el modal */
.modal-contenido button {
    background-color: #f39c12; /* Dorado brillante */
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-contenido button:hover {
    background-color: #e67e22; /* Naranja oscuro */
}

/* Estilo para el botón de cerrar el modal */
.cerrar {
    font-size: 2rem;
    color: #2c3e50;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: color 0.3s ease;
}

.cerrar:hover {
    color: #e74c3c; /* Rojo */
}

/* Estilo oculto para el modal */
.oculto {
    display: none;
}




.btn-sonido {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: black;
    color: orange;
    border: 2px solid orange;
    font-family: 'Creepster', cursive;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-sonido:hover {
    background-color: orange;
    color: black;
    transform: scale(1.1);
}
@media (max-width: 768px) {
    .btn-sonido {
        padding: 8px 16px;
        font-size: 14px;
        bottom: 10px;
        right: 10px;
    }
}